h1{
  color: black;
  font-size: 60px;
}

header img{
  border-radius: 450px;
  /* width: 400px; */
  /* border: 10px solid gainsboro; */
}

header{
  text-align: center;
}

body{
  background-color: F7A579;
  padding-bottom: 50px;
}

main{
  text-align: center;
}

p{
  font-size: 30px;
}

a{
  color: black;

}
